body{
    font-family: sans-serif;
}
.d1{
    width: 100%;
    height: 50px;
}
.d1>img{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}
#d1d1{
    float: left;
    height: 50px;
    width: 24%;
}
#d1d1a1{
    float: left;
    padding: 16px;
}
#d1d1a1>a{
    text-decoration: none;
    color: black;
}
#d1d1a1:hover{
    background-color: rgb(25, 189, 126);
    
}
#d1d1a1>a:hover{
    color: white;
}
#s1{
    padding-left: 20px;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 50px;
    margin-top: 10px;
    height: 35px;
    float: left;
}
#d1d2{
    margin-top: 6px;
    height: 42px;
    width: 30.114%;
    float: right;
    
}
#get{
    height: 25px;
    float: left;
    font-size: 19px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 40px;
}
#get:hover{
    background-color: rgb(235, 237, 240);
}
#get>a{
    text-decoration: none;
    color: black;
}
#login{
    border-radius: 40px;
    font-size: 19px;
    float: right;
    height: auto;
    width: 150px;
    padding: 7px 10px;
    margin-right: 10px;
}
#login:hover{
    background-color: rgb(25, 189, 126);
}
#login>a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
#login>a:hover{
    color: white;
}
.d2{
    overflow: hidden;
    padding-top: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    background-color: rgb(43, 42, 42);
}
.d2>a{
    text-decoration: none;
    color: white;
    padding: 6px 6px;
    font-size: 18px;
}
.d2>a:hover{
    background-color: black;
}
.d2>a:active{
    background-color: green;
}
.d3{
    font-family: sans-serif;
    position: fixed;
    overflow: auto;
    height: 682px;
    width: 21%;
    background-color: rgb(237, 240, 241);

}
.d3>h2{
    padding-top: 10px;
    padding-left:25px ;
}
.d3>a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 35px;
}
.d3>a:hover{
    background-color: rgb(182, 181, 176);
}
.d3>a:active{
    background-color: rgb(2, 138, 43);
    color: white;
}
.d4{
    overflow: auto;
    position: fixed;
    right: 8px;
    height: 682px;
    width: 78%;
}
#d4d1{
    padding:  10px 30px;
}
#d4b1{
    font-size: 19px;
    padding: 12px;
    background-color: rgb(88, 197, 121);
    color: white;
    border: none;
    border-radius: 6px;
}
#d4b1:hover,#d4b2:hover,#d4b3:hover{
    background-color: rgb(8, 143, 69);
}
#d4b2{
    font-size: 19px;
    padding: 12px;
    background-color: rgb(88, 197, 121);
    color: white;
    border: none;
    border-radius: 6px;
    float: right;
}
#d4d2{
    padding: 30px;
    background-color: rgb(184, 241, 224);
    font-size: 18px;
}
#d4b3{
    font-size: 19px;
    padding: 12px;
    background-color: rgb(88, 197, 121);
    color: white;
    border: none;
    border-radius: 6px;
}
#d4d3{
    padding: 20px 30px;
}
#d4d4{
    height: 270px;
    padding: 15px;
    margin: 10px 15px;
    border-radius: 6px;
    background-color: rgb(175, 174, 174);
}
.d4d4{
    padding: 10px 15px;
    padding-bottom: 30px;
    background-color: white;
    margin-bottom: 30px;
}
#d4b4{
    font-size: 18px;
}
#d4b5{
    text-decoration: none;
    margin-top: 50px;
    font-size: 19px;
    padding: 12px;
    background-color: rgb(10, 138, 31);
    color: white;
    border-radius: 6px;
}
#d4b5:hover{
    background-color: rgb(4, 114, 4);
}
hr{
    width: 97%;
}
#d4d5{
    padding: 30px;
}
#d4d5>h2{
    font-size: 40px;
    font-weight: 500;
}
#d4d5>p{
    font-size: 20px;
}
#d4d6{
    padding: 30px;
}
#d4d6>h2{
    font-size: 40px;
    font-weight: 500;
}
#d4d6>p{
    font-size: 20px;
}
#d4d7{
    background-color: rgb(223, 224, 152);
    padding: 30px;
}
#d4d7>p{
    font-size: 20px;
    margin-bottom: 40px;
}
#d4d7>a{
    text-decoration: none;
    font-size: 19px;
    padding: 12px;
    background-color: rgb(10, 138, 31);
    color: white;
    border-radius: 6px;
}
#d4d8{
    padding: 30px;
}
#d4d8>h2{
    font-size: 40px;
    font-weight: 500;
}
li>a{
    color: black;
    font-weight: 600;
}
li>a:hover{
    color: rgb(39, 243, 175);
}
#d4d8>p{
    font-size:20px;
}
#sp1{
    color: blue;
}
#sp2{
    color:brown ;
}
#sp3{
    color:green ;
}
#sp4{
    color:orangered;
}
#sp5{
    color:red;
}
#sp6{
    color:red;
    background-color: gray;
}
p>a{
    color: black;
}
p>a:hover{
    color: green;
}
#d4d9{
    height: 175px;
    padding: 15px;
    margin: 5px 15px;
    border-radius: 6px;
    background-color: rgb(175, 174, 174);
}
.d4d9{
    padding: 5px 15px;
    background-color: white;
    margin-bottom: 30px;
}
#d4d10{
    height: 60px;
    padding: 15px;
    margin: 5px 15px;
    border-radius: 6px;
    background-color: rgb(175, 174, 174);
}
#d4d11{
    height: 360px;
    padding: 15px;
    margin: 5px 15px;
    border-radius: 6px;
    background-color: rgb(175, 174, 174);
}
table,tr{
    height: 50px;
    width: 90%;
    text-align: center;
    margin:30px 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child( even){
    background-color: grey;
}
